.discount {
  padding: 5px 8px;
  background-color: #fd5656;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 66px;
  max-height: 39px;
  text-align: center;
  font-family: Gilroy;
  font-size: 22px;
}
