.timeValue {
  color: #ffbb00;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 1255px) {
  .timeValue {
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  .timeValue {
    font-size: 28px;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.remainingTime {
  animation-name: blinking;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #ff4e4e;
}
