.input {
  position: absolute;
  opacity: 0;
}
.input:checked + article {
  border: 2px solid var(--color-orange);
}
.input:checked + article > :last-child > :first-child > :nth-child(2n) {
  color: var(--color-orange);
}

.tariffWithRadioButton {
  display: flex;
  width: 100%;
}

.label {
  display: flex;
  width: 100%;
}

@media (max-width: 1255px) {
  .label {
    display: block;
  }
}
