.tariff {
  position: relative;
  border: 2px solid #484d4e;
  border-radius: 40px;
  background-color: #313637;
}

.tariffSmallSize {
  composes: tariff;
  max-width: 240px;
  padding: 70px 18px 23px 33px;
}
.tariffLargeSize {
  composes: tariff;
  padding: 32px 80px 32px 122px;
}
@media (max-width: 1255px) {
  .tariffSmallSize,
  .tariffLargeSize {
    max-width: 100%;
    padding: 20px 22px 20px 30px;
  }
}
@media (max-width: 520px) {
  .tariffSmallSize {
    max-width: 100%;
    padding: 20px 11px 20px 20px;
  }
  .tariffLargeSize {
    max-width: 100%;
    padding: 40px 11px 20px 20px;
  }
}

.isBestTariff {
  border: 2px solid var(--color-orange);
}

.discountContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -2px;
  right: 0;
  width: 100%;
}
@media (max-width: 1255px) {
  .discountContainer {
    justify-content: end;
  }
  .discountContainer > :first-child {
    margin-right: 35px;
  }
}

.discountContainer > :first-child {
  margin-left: 50px;
}

.bestsellerText {
  margin-right: 20px;
  margin-top: 10px;
  color: var(--color-orange);
  font-size: 22px;
  font-weight: 500;
}

.containerInfoLarge {
  margin: auto;
  max-width: 546px;
  display: flex;
  gap: 40px;
}
.containerInfoSmall {
  margin: auto;
  max-width: 240px;
}
@media (max-width: 1255px) {
  .containerInfoLarge,
  .containerInfoSmall {
    display: flex;
    gap: 40px;
    max-width: 100%;
  }
}

@media (max-width: 1255px) {
  .containerInfoLarge,
  .containerInfoSmall {
    gap: 5px;
  }
}

.containerPrice {
  /* min-width: 181px; */
  text-align: center;
}
.containerPriceSmallSize {
  composes: containerPrice;
  margin-bottom: 40px;
}

.durationValue {
  font-size: 26px;
  font-weight: 500;
}
@media (max-width: 1255px) {
  .durationValue {
    font-size: 18px;
  }
}

.priceDiscount {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.isBestPriceDiscount {
  composes: priceDiscount;
  color: var(--color-orange);
}

@media (max-width: 1255px) {
  .priceDiscount {
    font-size: 34px;
  }
}
@media (max-width: 375px) {
  .priceDiscount {
    font-size: 30px;
  }
}

.price {
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  color: #919191;
  text-align: end;
}

.containerInfoText {
  align-self: center;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1255px) {
  .containerInfoText {
    margin-left: auto;
    font-size: 14px;
  }
}
