.header {
  background-color: #1d5b43;
  text-align: center;
  padding-top: 7px;
  padding-left: var(--left-right-padding);
  padding-right: var(--left-right-padding);
}

.container {
  margin: auto;
  max-width: var(--max-width);
}

.textPromotion {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1255px) {
  .textPromotion {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .textPromotion {
    font-size: 14px;
  }
}

.time {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 8px;
}
